#!/bin/sh /etc/rc.common
# Copyright (C) 2006-2011 OpenWrt.org
START=50
STOP=50
USE_PROCD=1
APP=/etc/config/v2ray/v2ray

start_service() {
  procd_open_instance
  procd_set_param command $APP
  procd_close_instance
}